@import url( 'https://fonts.googleapis.com/earlyaccess/notosanssc.css');

$color-primary: rgb(160, 40, 80);
$color-onyomi: rgba(60,120,220,1);
$color-kunyomi: rgba(120,220,60,1);
$color-black: rgba(30,30,30,1);
$color-white: rgba(250,250,250,1);

body,
html {
  font-family: 'Noto Sans SC', sans-serif;
  margin: 0;
  padding: 0;
  zoom: 1;
  color: $color-white;
  background: linear-gradient(15deg, rgb(60,20,220),rgb(120,20,120));


  h1 {
    font-weight: normal;
    font-size: 64px;
    margin: .4em;

    &.logo {
      font-weight: 300;
      text-shadow: 0 3px 1px rgba($color-black, 0.4);
    }
  }

  h2 {
    font-weight: normal;
    font-size: 32px;
    margin: .2em;
  }

  h3 {
    font-weight: normal;
    font-size: 24px;
    margin: .2em;
  }
}

.page {
  background: rgba($color-black,0.4);
  margin: 10%;
  text-align: center;
  border-radius: .4em;

  .header{
    background: rgba($color-black, .4);
    padding: 0.2rem;
  }

  .page-content {
    .card {
      background: rgba($color-white,1);
      color: $color-black;
      padding: 1em;
      margin: 1em;
      border-radius: .4em;

      .card_body {
        text-align: center;
      }

      .card-kanji {
        background: $color-primary;

        .card-kanji-content {
          color: $color-white;
          font-size: 8rem;
          font-weight: 300;
          text-shadow: 0 3px 0px darken($color-primary, .6);
      }
      }


      .card-onyomi{
        background: $color-onyomi;
        color: $color-white;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
      }


      .card-kunyomi{
        background: $color-kunyomi;
        color: $color-white;
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
      }

    }
  }
}

.button {
  background: $color-primary;
  color: $color-white;
  padding: .4em .8em;
  margin: .4em 0;
  border-radius: .2em;
  border-bottom: 2px solid rgba($color-primary, 0.4);
  cursor: pointer;

  &:hover {
    background: darken($color-primary, 10%);
  }
}
