//@import url( 'https://fonts.googleapis.com/earlyaccess/notosanssc.css');
//@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css'); 

@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

$color-primary: rgb(180, 80, 120);
$color-secondary: rgb(100,80,200);
$color-onyomi: rgb(220,120,80);
$color-kunyomi: rgb(80,180,160);
$color-black: rgb(30,30,30);
$color-white: rgb(250,250,250);

body,
html {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  zoom: 1;
  color: $color-white;
  text-align: center;
}

.app {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: 1,2;
  grid-template-columns: 1;
  background: linear-gradient(15deg, $color-primary, $color-secondary);


.header{
  grid-row: 1;
  grid-column: 1;
  background: rgba($color-black, .8);

  .brand {
    display: flex;
    flex-flow: row;
    padding: 0.2em;

    .logo {
      margin: 0.2em 0.4em;
      color: $color-white;
      font-weight: light;
      font-size: 1.6em;
      text-shadow: 0 3px 1px rgba($color-black, 0.4);
      .highlight {
        color: lighten($color-primary, 20%);
        font-weight: bold;
      }
    }
  }
}

.page {
  grid-row: 2;
  grid-column: 1;
  margin: 10%;
  text-align: center;
  border-radius: .4em;

    .card {
      background: rgba($color-black, 0.4);
      color: $color-black;
      padding: 1em;
      border-radius: .4em;
 

      .card-head {
        display: flex;
        align-content: space-between;
        margin: 0;
        height: 100%;

        .card-onyomi{
          background: linear-gradient(-30deg, $color-onyomi, lighten($color-onyomi, 40%));
          color: $color-white;
          padding: 1em;
          margin-left: 0.5em;
          width: 50%;
          height: 100%;
          border-radius: 0.2em;
          border-top: 6px solid $color-onyomi;

          .card-reading-type {
            color: $color-onyomi;
            font-size: 0.8em;
            line-height: 0em;
          }
          .card-reading-content {
            font-size: 2em;
            line-height: 1.2em;
            text-shadow: 0 1px 0 $color-onyomi;
            background: rgba($color-onyomi, 0.4);
            border-radius: 1em;
          }
          .card-reading-romaji{
            font-size: 0.8em;
            line-height: 0em;
            text-transform: uppercase;
          }
        }
  
  
        .card-kunyomi{
          background: linear-gradient(30deg, $color-kunyomi, lighten($color-kunyomi, 40%));
          color: $color-white;
          padding: 1em;
          margin-right: 0.5em;
          width: 50%;
          height: 100%;
          border-radius: 0.2em;
          border-top: 6px solid $color-kunyomi;


          .card-reading-type {
            color: $color-kunyomi;
            font-size: 0.8em;
            line-height: 0em;
          }
          .card-reading-content {
            font-size: 2em;
            line-height: 1.2em;
            text-shadow: 0 1px 0 $color-kunyomi;
            background: rgba($color-kunyomi, 0.4);
            border-radius: 1em;
          }
          .card-reading-romaji{
            font-size: 0.8em;
            line-height: 0em;
            text-transform: uppercase;
          }
        }
      


    }
    .card-body {
      margin: 1em 0;
      padding: 0;

      .card-kanji {
        background: $color-white;
        border-radius: .4em;
        text-align: center;
        margin: 0;
        padding: 2em;

        .card-kanji-content {
          color: $color-black;

          font-size: 12em;
          line-height: 0em;
          font-weight: 300;
        }
      }
    }
    .card-footer {
      background: rgba($color-black, 0.8);
      color: $color-white;
      padding: 2em 0.4em;
      border-radius: .4em;
      display: flex;
      flex-flow: column;
      align-items: center;

      .card-meaning {
        width: 100%;
        font-size: 1.8em;
        font-weight: 500;
      }
      .card-details {
        width: 100%;
        font-size: 1.2em;
        font-weight: 300em;
        color: lighten($color-secondary, 20%);
      }

      .card-classandcount {
        border-radius: 4px;
        border: 1px solid $color-white;
        margin-top: 0.8em;
        min-width: 4em;
        padding: 0.2em 0.8em;
        color: $color-white;
        display: flex;
        flex-direction: row;
        align-items: center;

        .card-classification{
          margin-left: 0.6em;
          border-radius: 0.4em;
          padding: 0.2em 0.4em;
          background: $color-white;
          color: $color-black;
        }
        .card-kanjicount{

         
        }
      }
    }
  }
}

.nav {
  margin: 2em 0 4em;
  display: flex;

  @media screen and (min-width: 480px) {
    flex-direction: row;
  }
  @media screen and (max-width: 480px){
    flex-direction: column;
  }
}

.button {
  background: $color-white;
  color: $color-primary;
  min-width: 120px;
  font-weight: 400;
  font-size: 1.2rem;
  padding: .4em .8em;
  margin: .8em 0.6em;
  border-radius: .2em;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.4s ease;

  &.random {
    background: linear-gradient(135deg, $color-secondary, $color-primary);
    color: $color-white;
    border: 3px solid $color-white;

    &:hover {
      background: linear-gradient(-135deg, $color-secondary, $color-primary);
    }
  }

  &:hover {
    color: $color-white;
    background: rgba($color-black, 0.4);
  }
}
}